.control {
    &__field {
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        color: $gray-darker;
        display: block;
        font-family: $font;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        width: 100%;

        &:focus {
            outline: none;

            & + .control__field__highlight {
                width: 100%;
            }
        }

        &::placeholder {
            color: $gray;
            font-weight: 400;
        }

        &::-webkit-input-placeholder {
            color: $gray;
            font-weight: 400;
        }

        &.is-file {
            cursor: pointer;
            opacity: 0;
            padding-right: 30px;
            position: relative;
            z-index: 10;
        }

        &.is-textarea {
            height: auto;
            line-height: 1.2;
            min-height: 50px;
            padding: 5px 0;
            resize: vertical;
        }

        &__browse {
            font-weight: 900;
            height: 30px;
            line-height: 30px;
            position: absolute;
            left: 0;
            text-align: center;
            top: 0;
            transition: .4s all ease-out;
            z-index: 5;
            width: 100%;

            &:after {
                background-color: $gray-lighter;
                content: '\2026';
                font-weight: 900;
                height: 30px;
                line-height: 30px;
                position: absolute;
                right: 0;
                text-align: center;
                top: 0;
                width: 30px;
            }
        }

        &__group {
            align-items: center;
            border-bottom: 1px solid $gray;
            display: flex;
            position: relative;

            &.is-disabled {
                cursor: not-allowed;
                opacity: .3;
                pointer-events: none;
            }

            &.is-readonly {
                cursor: not-allowed;
                opacity: .8;
            }

            .icon {
                margin-right: 10px;
            }
        }

        &__highlight {
            background-color: $blue-lighter;
            bottom: -1px;
            height: 1px;
            left: 0;
            position: absolute;
            transition: .4s all ease-in;
            width: 0;
        }
    }

    &__file {
        display: table;
        margin-top: 10px;

        &.is-disabled {
            cursor: not-allowed;
            opacity: .3;
            pointer-events: none;
        }

        &.is-readonly {
            cursor: not-allowed;
            opacity: .8;
        }

        a {
            align-items: center;
            background-color: $green;
            border-radius: 3px;
            color: $white;
            display: flex;
            font-size: 11px;
            padding: 3px 5px;
            transition: .4s all ease-out;

            &:hover {
                background-color: $red-light;
            }

            span {
                font-weight: 900;
                margin-left: 5px;
            }
        }
    }
}