.control {
    &__toggle {
        cursor: pointer;
        height: 30px;
        opacity: 0;
        position: relative;
        width: 60px;
        z-index: 10;

        &:checked + .control__toggle__mask {
            border-color: $blue;

            &:before {
                background-color: $blue;
                margin-left: 3px;
            }
        }

        &__group {
            align-items: center;
            display: flex;

            &.is-disabled {
                cursor: not-allowed;
                opacity: .3;
                pointer-events: none;
            }

            &.is-readonly {
                cursor: not-allowed;
                opacity: .8;
            }

            label {
                @include font-smoothing();
                color: $gray-darker;
                font-weight: 700;
            }
        }

        &__mask {
            background-color: $gray-lighter;
            border: 1px solid $gray;
            border-radius: 30px;
            height: 30px;
            left: 0;
            position: absolute;
            transition: .4s all ease-out;
            width: 60px;
            z-index: 5;

            &:before {
                background-color: $gray;
                border-radius: 100%;
                content: '';
                display: block;
                height: 24px;
                left: 0;
                margin-left: calc(100% - 27px);
                position: absolute;
                top: 2px;
                transition: .4s all ease-out;
                width: 24px;
            }
        }

        &__wrapper {
            margin: 0 10px;
            position: relative;
        }
    }
}