.alert__wrapper {
    bottom: 10px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    z-index: 1200;

    @include desktop() {
        left: 50%;
        max-width: $desktop - $container-offset;
        transform: translateX(-50%);
    }

    @include widescreen() {
        max-width: $widescreen - $container-offset;
    }
}