.control {
    &__group {
        margin-bottom: 15px;

        &.is-invalid {
            .control__checkbox__group,
            .control__radio__group {
                label {
                    color: $red-light;
                }
            }

            .control__field__group,
            .control__select__group {
                border-bottom-color: $red-light;
            }

            .control__label {
                color: $red-light;
            }

            .control__notes {
                color: $red-light;
            }
        }

        &.is-narrow {
            @include tablet() {
                max-width: 300px;
            }
        }

        &.is-wide {
            @include tablet() {
                max-width: 500px;
            }
        }
    }

    &__label {
        @include font-smoothing();
        color: $gray-darker;
        display: block;
        font-weight: 700;

        &.is-required {
            &:after {
                color: $red;
                content: '*';
            }
        }
    }

    &__notes {
        color: $gray-dark;
        margin-top: 5px;
    }
}

@import 'Control/AutocompleteTagControl';
@import 'Control/CheckboxRadioControl';
@import 'Control/DateControl';
@import 'Control/FieldControl';
@import 'Control/SelectControl';
@import 'Control/ToggleControl';