.data-table {
    background-color: $white;
    border-collapse: collapse;
    border-spacing: 0;
    color: $gray-darker;
    font-size: 12px;
    width: 100%;

    td,
    th
     {
        border-color: $gray-light;
        border-style: solid;
        border-width: 1px 0;
        padding: 10px;

        &.is-center {
            text-align: center;
        }

        &.is-left {
            text-align: left;
        }

        &.is-right {
            text-align: right;
        }
    }

    td {
        a.collapsible-action {
            display: inline-block;
            position: relative;
            padding-right: 15px;

            .triangle {
                height: 0;
                position: absolute;
                top: calc(50% - 5px);
                width: 0;

                &--up {
                    border-bottom: 5px solid $gray-darker;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }

                &--down {
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid $gray-darker;
                }
            }
        }
    }

    th {
        background-color: $gray-lighter;
        font-size: 13px;

        a {
            display: inline-block;
            position: relative;

            .triangle {
                height: 0;
                margin-left: 5px;
                position: absolute;
                width: 0;

                &--up {
                    border-bottom: 4px solid $gray-darker;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    top: calc(50% - 5px);

                }

                &--down {
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid $gray-darker;
                    top: 50%;
                }
            }
        }


    }

    tr {
        &:hover {
            td {
                background-color: $yellow-lighter;
            }

            .action {
                opacity: 100;
            }
        }

        &.data-table__child-row {
            &:hover {
                td {
                    background-color: transparent;
                }
            }

            & > td {
                padding: 0;
            }

            table {
                td {
                    &:first-child {
                        padding-left: 30px;
                    }
                }
            }

            td {
                background-color: $gray-lighter !important;
            }

            tr {
                &:hover {
                    td {
                        background-color: $yellow-lighter !important;
                    }
                }
            }



            .data-table__child-icon {
                display: inline-block;
                height: 15px;
                width: 15px;
            }
        }
    }

    &__child-icon {
        display: none;
        height: 15px;
        margin-left: -20px;
        position: absolute;
        width: 15px;
    }

    &__actions {
        white-space: nowrap;
        width: 1px;

        &.is-visible {
            .action {
                opacity: 1;
            }
        }

        .action {
            color: $blue;
            display: inline-block;
            line-height: 16px;
            margin-left: 10px;
            opacity: 1;
            text-decoration: none;
            transition: 0.2s;
            white-space: nowrap;

            &.is-green {
                color: $green;
            }

            &.is-red {
                color: $red;
            }

            @include tablet() {
                opacity: 0;
            }

            &:hover {
                text-decoration: underline;
            }

            .icon {
                height: 16px;
                vertical-align: middle;
                width: 16px;
            }
        }

        .control__select {
            padding-right: 35px;
            width: auto !important;
        }
    }
}