.modal {
    pointer-events: none;

    &.is-open {
        pointer-events: all;

        .modal__backdrop {
            opacity: 1;
        }

        .modal__content {
            opacity: 1;
            top: 10%;
        }
    }

    &.is-narrow {
        .modal__content {
            max-width: 400px;

            @include tablet() {
                width: 400px;
            }
        }
    }

    &.is-wide {
        .modal__content {
            max-width: 900px;

            @include desktop() {
                width: 900px;
            }
        }
    }

    &__backdrop {
        background-color: rgba($black, .7);
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: .2s opacity ease-out;
        width: 100%;
        z-index: 1000;
    }

    &__close {
        color: $gray-darker;
        font-size: 18px;
        position: absolute;
        right: 9px;
        top: 5px;
    }

    &__content {
        background-color: $white;
        border-radius: 5px;
        left: 50%;
        max-width: 600px;
        opacity: 0;
        padding: 15px;
        position: fixed;
        top: 0;
        transform: translateX(-50%);
        transition: .2s all ease-out;
        transition-delay: .1s;
        width: calc(100% - 60px);
        z-index: 1100;

        @include tablet() {
            width: 600px;
        }
    }

    &__footer {
        margin-top: 15px;
    }


    &__header {
        margin-bottom: 15px;
    }

    &__title {
        color: $black;
        font-size: 22px;
        font-weight: 400;
        margin-top: 15px;
        text-align: center;
    }
}

body.has-open-modal {
    overflow: hidden !important;
}