.navigation {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;

    &__burger {
        color: $black;
        cursor: pointer;
        display: block;
        height: 3.25rem;
        position: relative;
        width: 3.25rem;
        margin-left: auto;

        @include desktop() {
            display: none;
        }

        span {
            background-color: $black;
            display: block;
            height: 1px;
            left: calc(50% - 8px);
            position: absolute;
            transform-origin: center;
            width: 16px;

            &:nth-child(1) {
                top: calc(50% - 6px);
            }

            &:nth-child(2) {
                top: calc(50% - 1px);
            }

            &:nth-child(3) {
                top: calc(50% + 4px);
            }
        }
    }

    &__wrapper {
        align-items: stretch;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;

        &.has-burger {
            .navigation {
                @include touch() {
                    background-color: $white;
                    box-shadow: 0 1px 4px 0 rgba($black, .1);
                    display: none;
                    left: 0;
                    position: absolute;
                    top: 100%;
                    width: 100%;

                    &.is-active {
                        display: block;
                    }

                    &__dropdown {
                        border-top: none !important;
                        display: block !important;
                        position: relative !important;

                        & > .navigation__item {
                            padding-left: 30px;
                        }
                    }

                    &__item {
                        &.has-dropdown {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}