html {
    height: 100%;
}

body {
    background-color: $gray-lighter;
    color: $gray-darker;
    font-family: $font;
    font-size: 12px;
    line-height: 1.2;
    min-height: 100%;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

[v-cloak] {
    display: none;
}